body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
  }
  
  .main {
    display: flex;
  }

.sidebar {
    background-color: black;
    color: #fff;
    width: 250px;
    padding: 0px 20px;
    height: 100vh;
    text-align: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
  }
  
  .sidebar-item {
    margin-top: 5px;
    padding: 20px 20px;
    border-bottom: 2px solid white;
    text-align: center;
    color: #fff;
  }
  
  .sidebar-item:hover {
    background-color: black;
    cursor: pointer;
  }
  
  .sidebar-item > a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .content::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("gym.png");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
  }
  
  .content {
    position: relative; 
    z-index: 0; 
    margin-left: 290px; /* Ubah menjadi persentase */
    overflow-x: auto; /* Tambahkan overflow-x */
  }
  
  button {
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .logout-btn {
    background-color: #f44336;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 10px 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 70px;
  }
  
  .logout-btn:hover {
    background-color: #993b34;
  }
  .members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.members-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.member-container {
    background: transparent;
    border: 2px solid rgb(3, 73, 99);
    border-radius: 20%;
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.member-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info {
    text-align: center;
    font-size: 12px;
    color: rgb(3, 73, 99);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
